
*.dsk

*.bin
*.bat
*.o
*.a
*.bak
*.lst
*.map
*.log
*.cmt
mame.ini
ui.ini
*sha*.txt
*md5*.txt
*.exe
*.zip
memory/*.bat
memory/*sha*.txt
memory/*md5*.txt
memory/*.exe
memory/*.zip

*.lst
.vs
out
minefield/cfg
minefield/ui.ini
